* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.top-area {
  flex: 2;
  width: 100%;

  background-color: #eeeeee;
}

.bottom-area {
  flex: 1;
  width: 100%;

  background-color: #ffffff;
  border-top: 1px solid #cccccc;
}
